html {
    margin: 0;
} 

h1,h2{
    font-family: "Century Gothic", "Arial", sans-serif;
}


span {
  display: block;
}
.canvas {
  margin: 100px auto 100px;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid #000000 2px;
  display: inline-block;
}

#pink {
  background: hotpink;
}
#purple {
  background: purple;
}
#blue {
  background: rgb(148, 209, 247);
}
#yellow {
  background: yellow;
}
