*{
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(173, 58%, 39%);
    text-align: center;
    font-family: century gothic;
}

h1{
    padding-top: 5vmin;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin; 
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 2rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color: white;
    background-color: #f4a261;
}

#reset_btn{
    padding: 1rem;
    color:#264653;
    background-color: #e76f51;
    border:none;
    font-size: 3vmin;
}

#new_btn {
    padding: 1rem;
    color:#264653;
    background-color: #e76f51;
    border:none;
    font-size: 3vmin;
}

#msg {
    font-size: 7vmin;
}

.msg-container {
    height: 100vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display:none;
}